/* Tag selection */
h1
{
    color:red;
    font-size: 5rem;

}
h1:hover
{
    color:aqua;
}
/* img{
    background-color:red;
    align-items: right;
} */
body
{
    background-color: antiquewhite;
}

/* class selector */
.bacon
{
    background-color: red;
    display: inline-block;
}

.brocli
{
    background-color: green;
}

/* id selector */
#heading
{
    color:blue;
    font-size: xx-large;
    font-family:des;
}
#heading:hover
{
    color:red;
}